h1 {
    color: rgb(226, 34, 66);
    font-family: "Century Gothic";
}
h2{
    font-family: "Century Gothic";
}
*{
    border:solid;
}
.header{
    background-color: rgb(42, 192, 54);
    display: flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}